
body {
    padding: 18px 10px;
    /* box-sizing: border-box; */
}

.save-button {
  background: #5E5DF0;
  /* border-radius: 999px; */
  border-radius: 0.2rem;
  /* box-shadow: #5E5DF0 0 10px 20px -10px; */
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  word-break: break-word;
  border: 0;
}
.form-input {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1rem;
      margin: 0 auto;
    padding: 8px 8px 4px 8px;
    border-radius: 0.2rem;
    background-color: rgb(238, 238, 238);
    border: none;
    /* width: 90%; */
    /* display: block; */
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
    margin-bottom: 10px;
  }
  
  .form-input:placeholder-shown + .form-label {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-4rem);
    transform: translateY(-4rem);
  }

.form-label {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
    transform: translateY(0rem);
  }